{% extends "base.html" %}
{% block content %}
<button class="btn btn-dark float-right" onclick="location.href='basket'">Basket ({{basket_size}})</button>
<h2>Product:</h2>
<br>
{% if product %}
<h5>Name: {{ product[0]['product_name'] }}</h5>
<h6>Price: {{ product[0]['list_price'] }}PLN</h6>
<button class="btn btn-dark" onclick="location.href='product?product_id={{ product[0]['product_id'] }}&add_to_basket={{ product[0]['product_id'] }}'">Add to basket</button>
<button class="btn btn-dark" onclick="location.href='basket?add_to_basket={{ product[0]['product_id'] }}'">Add to basket and buy</button>
<p>Brand: {{ product[0]['brand'] }}</p>
<p>category: {{ product[0]['category'] }}</p>
<p>model year: {{ product[0]['model_year'] }}</p>
<br>
<br>
<h5>Products related to this item:</h5>
        {% for row in product_related %}
        <li onclick="location.href='product?product_id={{ row['product_id'] }}'" class="list-group-item list-group-item-action"> id: {{ row['product_id'] }}, list_price: {{ row['list_price'] }}PLN, name: {{ row['product_name'] }}, brand: {{ row['brand'] }}, category: {{row['category']}}, year:{{row['model_year']}}</li>
        {% endfor %}

{% else %}
No such product
{%endif %}
{% endblock %}